<!--Index.ejs-->
<!DOCTYPE html>

<html lang="pt">
<%- include('partials/header.ejs'); %>
  <body>
    <%- include('partials/navbar.ejs'); %>
    <h1>Estilo do boostrap</h1>
  </body>
<%- include('partials/footer.ejs'); %>
</html>